*{
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

a {
    text-decoration: none;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.navbar ul li {
    color: #E14C2C;
}

.task {
    border: 1px solid purple;
    width: fit-content;
    padding: 10px;
}