<html>
<head>
    <title>TestFlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('todolists') }}">Todo Lists</a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
